@import "colors.scss";

.fixed-nav {
  background-color: $main;
  border: none;
}

.top-bar {
  padding: 12px 0;
  position: relative;
  z-index: 5;
  img {
    width: 20px;
  }

  .fa-solid {
    font-size: 12px;
  }
  .lang-box {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: #fff;
    .lang-box-1 {
      font-size: 14px;
      position: relative;
      cursor: pointer;
      .header-dropdown {
        position: absolute;
        transition: 0.2s linear;
        background-color: #fff;
        color: black;
        opacity: 0;
        visibility: hidden;
        width: 180px;
        left: -60px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        li {
          padding: 4px 0;
        }
      }
      &:hover {
        .header-dropdown {
          position: absolute;
          left: -60px;
          border: 1px solid #e3e3e3;
          background-color: white;
          color: $descColor;
          display: flex;
          justify-content: start;
          padding: 10px;
          flex-direction: column;
          width: 180px;
          z-index: 2;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .lang-box-2 {
      font-size: 14px;
      position: relative;
      .header-dropdown-2 {
        transition: 0.2s linear;
        position: absolute;
        background-color: #fff;
        color: black;
        opacity: 0;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 180px;
        left: -60px;

        li {
          padding: 4px 0;
        }
      }
      &:hover {
        .header-dropdown-2 {
          position: absolute;
          left: -60px;
          border: 1px solid #e3e3e3;
          background-color: white;
          color: $descColor;
          display: flex;
          justify-content: start;
          padding: 10px;
          flex-direction: column;
          width: 180px;
          z-index: 2;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .border {
      border-left: 1px solid #fff;
      margin-top: 6px;
      height: 13px;
    }
  }
}

.welcome {
  color: #fff;
}

.bottom-bar {
  background-color: white;
  position: relative;
  z-index: 3;
  .container {
    position: relative;
  }
  .row {
    justify-content: space-between;
    align-items: center;
  }
}

.main-logo {
  width: 90px;
  height: 40px;
  img {
    width: 100%;
  }
}
.site-nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    li {
      a {
        color: $titleColor;
        font-size: 16px;
        padding: 48px 15px;
        display: block;
        i {
          font-size: 13px;
        }
      }
    }
  }
}

.site-icons {
  display: flex;
  gap: 10px;
  .icon {
    padding: 0 6px;
    a {
      color: $titleColor;
      opacity: 0.8;
      i {
        font-size: 20px;
      }
    }
  }
  .icon-cart{
    position: relative;
    span{
      background-color: $main;
      position: absolute;
      right: -5px;
      top: -15px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: white;
    };
  }
  .hidden-icon-menu a{
    color: black;
    display: none;
    
  }
}

.subMenu {
  position: absolute;
  display: flex;
  top: 100%;
  visibility: hidden;
  background-color: white;
  padding: 20px 20px;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.3s all;
  .subMenu-header {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .subMenu-ul {
    display: block !important;
    margin: 0;
    padding: 0;
    background-color: white;
    min-width: 200px;
  }
}
.site-nav > ul > li:hover .subMenu {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.subMenu.large-subMenu {
  left: 0;
  width: 100%;
}

@media(max-width: 1000px){
  .bottom-bar{
    padding: 20px;

    .container{
      .col-8{
        display: none;
      }
      .col-2{
        .icon-1{
          display: none;
        }
        .icon-2{
          display: none;
        }
        .hidden-icon-menu a{
          display: block;
        }
      }
    }
  }
  .top-bar{
    display: none;
  }

  
}